
  body {
      margin: 0px auto;
      background-color: #f1d326;
  }
  .topnav {
    overflow: hidden;
    background-color: #469ba1;
    position: relative;
  }
  #logotop {
      max-height: 100px;
      padding-top: 1%;
  }
  .fa-bars {
      padding-top: 40px;
      padding-right: 40px;
  }
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: block;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    text-transform: uppercase;
    transition: .3s ease;
  }
  .topnav a:hover {
      color: #f1d326;
  }
  .topnav a.icon {
    background: #469ba1;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  #pusher {
      margin-bottom: 4%;
  }
  h1, h2, h3, h4 {
      font-family: 'Source Code Pro' , monospace;
      text-transform: uppercase;
      text-align: center;
  }